<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Hakkuraifu2._0.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Hakkuraifu2._0.My.MySettings>
            <setting name="BT" serializeAs="String">
                <value/>
            </setting>
            <setting name="PT1" serializeAs="String">
                <value/>
            </setting>
            <setting name="L" serializeAs="String">
                <value/>
            </setting>
            <setting name="Button" serializeAs="String">
                <value/>
            </setting>
            <setting name="B" serializeAs="String">
                <value/>
            </setting>
            <setting name="Setup" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Key" serializeAs="String">
                <value>kWafzpxV34kBL8JG</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>2222</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value/>
            </setting>
            <setting name="Plan" serializeAs="String">
                <value/>
            </setting>
        </Hakkuraifu2._0.My.MySettings>
    </userSettings>
</configuration>
